.fa-management {
  // primary
  --p-50: #e8eaf6;
  --p-100: #c5cbe9;
  --p-200: #9fa8da;
  --p-300: #7985cb;
  --p-400: #5c6bc0;
  --p-500: #3f51b5;
  --p-600: #394aae;
  --p-700: #3140a5;
  --p-800: #29379d;
  --p-900: #1b278d;
  --p-A100: #c6cbff;
  --p-A200: #939dff;
  --p-A400: #606eff;
  --p-A700: #4757ff;
  --pc-50: #000000;
  --pc-100: #000000;
  --pc-200: #000000;
  --pc-300: #000000;
  --pc-400: #ffffff;
  --pc-500: #ffffff;
  --pc-600: #ffffff;
  --pc-700: #ffffff;
  --pc-800: #ffffff;
  --pc-900: #ffffff;
  --pc-A100: #000000;
  --pc-A200: #000000;
  --pc-A400: #ffffff;
  --pc-A700: #ffffff;
  // accent
  --a-50: #fdf8e6;
  --a-100: #fbedc2;
  --a-200: #f8e199;
  --a-300: #f5d470;
  --a-400: #f3cb51;
  --a-500: #f1c232;
  --a-600: #efbc2d;
  --a-700: #edb426;
  --a-800: #ebac1f;
  --a-900: #e79f13;
  --a-A100: #ffffff;
  --a-A200: #fff4e2;
  --a-A400: #ffe2af;
  --a-A700: #ffd896;
  --ac-50: #000000;
  --ac-100: #000000;
  --ac-200: #000000;
  --ac-300: #000000;
  --ac-400: #000000;
  --ac-500: #000000;
  --ac-600: #000000;
  --ac-700: #000000;
  --ac-800: #000000;
  --ac-900: #000000;
  --ac-A100: #000000;
  --ac-A200: #000000;
  --ac-A400: #000000;
  --ac-A700: #000000;
  // warn
  --w-50: #f9e0e0;
  --w-100: #f0b3b3;
  --w-200: #e68080;
  --w-300: #db4d4d;
  --w-400: #d42626;
  --w-500: #cc0000;
  --w-600: #c70000;
  --w-700: #c00000;
  --w-800: #b90000;
  --w-900: #ad0000;
  --w-A100: #ffd7d7;
  --w-A200: #ffa4a4;
  --w-A400: #ff7171;
  --w-A700: #ff5858;
  --wc-50: #000000;
  --wc-100: #000000;
  --wc-200: #000000;
  --wc-300: #ffffff;
  --wc-400: #ffffff;
  --wc-500: #ffffff;
  --wc-600: #ffffff;
  --wc-700: #ffffff;
  --wc-800: #ffffff;
  --wc-900: #ffffff;
  --wc-A100: #000000;
  --wc-A200: #000000;
  --wc-A400: #000000;
  --wc-A700: #000000;
  // spacing
  --spacing: 20px;
  //
  --header-height: 2rem;
}
