<div class="wrapper-item">
  <div class="action-add"></div>
  <div class="common-column column-child-action">
    <div class="action-remove-topic">
      <mat-icon *ngIf="isEditControl" (click)="remove()">delete_forever</mat-icon>
    </div>
    <div class="topic-label">
      <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
        <mat-select [formControl]="item.get('topicName')">
          <mat-option value="SQL">SQL</mat-option>
          <mat-option value="C#">C#</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="common-column">
    <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
      <input matInput [formControl]="item.get('maxScore')">
    </mat-form-field>
  </div>
  <div class="common-column">
    <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
      <input matInput [formControl]="item.get('passingScore')">
    </mat-form-field>
  </div>
  <div class="common-column">
    <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
      <input matInput [formControl]="item.get('weightedNumber')">
    </mat-form-field>
  </div>
</div>