@import 'mixins';

.common-column {
  width: 24%;
  display: flex;
  min-height: 40px;
  align-items: center;
  // padding-left: 5px;
  border-right: 1px solid;
  background-color: var(--p-50);
}
.wrapper-item{
  display: flex;
  border-bottom: 1px solid;
}

.action-add {
  width: 4%;
  border-right: 1px solid;
  padding-top: 5px;
  text-align: center;
  mat-icon{
    font-size: 30px;
    width: 30px;
    color: var(--p-A700);
    cursor: pointer;
  }
}

.action-remove-topic {
  width: 15%;
  padding-top: 5px;
  border-right: 1px solid;
  height: 100%;
  text-align: center;
  mat-icon{
    font-size: 30px;
    width: 30px;
    color: var(--w-400);
    cursor: pointer;
  }
}

.topic-label {
  flex: 1;
}