<h2 mat-dialog-title>
  {{ 'login' | translate }}
  <button mat-icon-button mat-dialog-close="{}">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="formLogin">
    <div>
      <app-base-input
        color="accent"
        label="email"
        [errorList]="errorList.email"
        [fieldControl]="emailControl"></app-base-input>
    </div>
    <div>
      <app-base-input
        color="accent"
        label="password"
        [fieldControl]="passwordControl"
        [errorList]="errorList.password"
        type="password"></app-base-input>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button>
    {{ 'forgotPassword' | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="doLogin()" class="login-button">
    {{ 'login' | translate }}
  </button>
  <p>
    {{ 'signUpDescription' | translate }}
    <button mat-flat-button>{{ 'signUp' | translate }}</button>
  </p>
</mat-dialog-actions>
