<h2 [translate]="screenName"></h2>
<mat-divider></mat-divider>
<mat-tab-group>
  <mat-tab [label]="'createClass.information' | translate">
    <app-information
      [class]="class$ | async"
      [form]="form"
      [acronym]="acronym"
      [screenName]="screenName"></app-information>
  </mat-tab>
  <mat-tab [label]="'createClass.trainee' | translate">Content 2</mat-tab>
</mat-tab-group>
<div class="flex-wrap gap">
  <ng-container *ngIf="screenName !== ScreenName.ViewClass; else viewMode">
    <button
      mat-raised-button
      color="primary"
      *appActionButton="actionType.SubmitNewClass"
      (click)="create()"
      [disabled]="form.invalid">
      {{ 'submit' | translate }}
    </button>
  </ng-container>
  <ng-template #viewMode>
    <button
      mat-raised-button
      class="color-icon primary"
      *appActionButton="actionType.UpdateClass"
      (click)="goToUpdate()"
      [disabled]="form.invalid || (disableUpdate$ | async)">
      <mat-icon>arrow_circle_up</mat-icon>
      {{ 'updateClass' | translate }}
    </button>
    <button
      mat-raised-button
      class="color-icon accent"
      *appActionButton="actionType.SubmitClass"
      (click)="submit()"
      [disabled]="disableSubmmitClass$ | async">
      <mat-icon>upgrade</mat-icon>
      {{ 'submitClass' | translate }}
    </button>
    <button
      mat-raised-button
      class="color-icon start-class"
      *appActionButton="actionType.StartClass"
      (click)="start()"
      [disabled]="disableStartClass$ | async">
      <mat-icon>play_arrow</mat-icon>
      {{ 'startClass' | translate }}
    </button>
    <button
      mat-raised-button
      class="color-icon warn"
      *appActionButton="actionType.CancelClass"
      [disabled]="disableCancelClass$ | async"
      (click)="cancel()">
      <mat-icon>block</mat-icon>
      {{ 'removeClass' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      *appActionButton="actionType.StartClass"
      [disabled]="form.invalid"
      (click)="start()">
      {{ 'startClass' | translate }}
    </button>
  </ng-template>
  <a mat-raised-button class="color-icon warn" [routerLink]="['/fa-management/class-management']">
    <mat-icon>reply</mat-icon>
    {{ 'close' | translate }}
  </a>
</div>
