@import 'mixins';

:host{
  .mat-tab-group {
    @include margin('top');
  }

  .milestone {
    padding-bottom: 15px;
  }
  
  .attendance {
    padding-bottom: 15px;
  }

  .topic {
    @include padding();
  }

  .reward-penalty {
    @include padding();
  }
  
  .gpa {
    @include padding();
  }

  .commitment {
    @include padding();
  }

  .allowance {
    @include padding();
  }

  .allocation {
    @include padding();
  }

  .actions {
    margin-top: 20px;
    display: flex;
    @include gap();
  }
}
