<mat-expansion-panel [expanded]="!expanded" [hideToggle]="true">
  <mat-expansion-panel-header (click)="$event.stopPropagation()">
    <mat-panel-title (click)="$event.stopPropagation()" class="title" translate="traineeResult.milestone">
    </mat-panel-title>
    <mat-icon (click)="$event.preventDefault()" (click)="expandForExpansion()" class="icon-expand">
      {{toggleIcon ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
    </mat-icon>
  </mat-expansion-panel-header>
  <div class="milestone-header">
    <div class="common-block max-score">
      <div class="title-common">Total Max Score</div>
      <div class="value-common">{{dataMilestone.totalMaxScore}}</div>
    </div>
    <div class="line-block"></div>
    <div class="common-block passing-score">
      <div class="title-common">Total Passing Score</div>
      <div class="value-common">{{dataMilestone.totalPassingScore}}</div>
    </div>
    <div class="line-block"></div>
    <div class="common-block weighted-number">
      <div class="title-common">Total Weighted Number</div>
      <div class="value-common">{{dataMilestone.totalWeightNumber}}</div>
    </div>
  </div>
  <div class="milestone-body" [formGroup]="form">
    <div class="body-header">
      <div class="action-add">
        <ng-container *ngIf="isEditControl; else viewMode">
          <mat-icon (click)="addMilestone()">add_circle</mat-icon>
        </ng-container>
        <ng-template #viewMode>
          <mat-icon *ngIf="expandMilestone" (click)="toggleMilestone()">arrow_drop_down</mat-icon>
          <mat-icon *ngIf="!expandMilestone" (click)="toggleMilestone()">arrow_drop_up</mat-icon>
        </ng-template>
      </div>
      <div class="common-column"><span class="pl-5">Milestone Name</span></div>
      <div class="common-column"><span class="pl-5">Salary Paid</span></div>
      <div class="common-column"><span class="pl-5">Start Date</span></div>
      <div class="common-column"><span class="pl-5">End Date</span></div>
    </div>
    <div formArrayName="milestone" class="body-content" #milestone>
      <ng-container *ngFor="let milestone of formMilestone.controls; let indexMilestone = index"
        [formGroupName]="indexMilestone">
        <div class="milestone-name">
          <div class="action-remove">
            <mat-icon *ngIf="isEditControl" (click)="removeMilestone(indexMilestone)">delete_forever</mat-icon>
          </div>
          <div class="common-column">
            <div class="label-value pl-5">
              Tháng...
            </div>
          </div>
          <div class="common-column">
            <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
              <mat-select formControlName="salary">
                <mat-option value="1">Yes</mat-option>
                <mat-option value="0">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="common-column">
            <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
              <input matInput [matDatepicker]="startDate" formControlName="startDate"/>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="common-column">
            <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
              <input matInput [matDatepicker]="endDate" formControlName="endDate"/>
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="topic-milestone">
          <div class="action-add block-space"></div>
          <div class="common-column column-child-action">
            <div class="action-add-topic">
              <ng-container *ngIf="isEditControl; else viewMode">
                <mat-icon (click)="addTopic(indexMilestone)">add_circle</mat-icon>
              </ng-container>
              <ng-template #viewMode>
                <mat-icon *ngIf="milestone.get('expanded')?.value" (click)="toggleTopic(indexMilestone)">arrow_drop_down</mat-icon>
                <mat-icon *ngIf="!milestone.get('expanded')?.value" (click)="toggleTopic(indexMilestone)">arrow_drop_up</mat-icon>
              </ng-template>
              
            </div>
            <div class="topic-label"><span class="pl-5">Topic</span></div>
          </div>
          <div class="common-column"><span class="pl-5">Max Score</span></div>
          <div class="common-column"><span class="pl-5">Passing Score</span></div>
          <div class="common-column"><span class="pl-5">Weighted Number</span></div>
        </div>
        <div formArrayName="topic" #blockTopic>
          <div class="topic-content"
            >
            <app-trainee-topic-item 
              *ngFor="let item of topicMilestone(indexMilestone).controls; let indexTopic = index"
              [formGroupName]="indexTopic"
              [item]="item"
              [index]="indexTopic"
              [isEditControl]="isEditControl"
              (removeTopic)="removeTopic(indexMilestone, $event)"
              [mode]="mode"
              >
            </app-trainee-topic-item>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</mat-expansion-panel>