@import 'mixins';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ar {
  direction: rtl;
}

.text {
  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}

.directives.loading {
  overflow: hidden;
}

.error-message {
  @include message();
  color: var(--w-500);
  background-color: var(--w-100);
}

.success-message {
  @include message();
  color: var(--a-900);
  background-color: var(--a-100);
}

.hamburger-menu {
  @include transition();

  > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--p-500);
    transition: all 0.4s ease-in-out;
    @include transition();

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);

    > span {
      &:nth-child(2) {
        width: 0;
      }

      &:nth-child(1) {
        transform: translateY(9px);
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(90deg);
      }

      &:nth-child(1),
      &:nth-child(3) {
        transition-delay: 0.4s;
      }
    }
  }
}
