@import 'variable';

@mixin message {
  padding: 1rem;
  margin-bottom: var(--spacing);
}

@mixin transition {
  transition: all 0.4s ease-in-out;
}

@mixin gap {
  gap: var(--spacing);
}

@mixin margin($position: 'all') {
  @if $position == 'top' {
    margin-top: var(--spacing);
  } @else if $position == 'bottom' {
    margin-top: var(--spacing);
  } @else if $position == 'left' {
    margin-left: var(--spacing);
  } @else if $position == 'right' {
    margin-right: var(--spacing);
  } @else {
    margin: var(--spacing);
  }
}

@mixin padding($position: 'all') {
  @if $position == 'top' {
    padding-top: var(--spacing);
  } @else if $position == 'bottom' {
    padding-top: var(--spacing);
  } @else if $position == 'left' {
    padding-left: var(--spacing);
  } @else if $position == 'right' {
    padding-right: var(--spacing);
  } @else {
    padding: var(--spacing);
  }
}

@mixin width($columns) {
  width: 100%;
  @media #{$md} {
    width: max((100% - ($columns - 1) * var(--spacing)) / $columns, 200px);
  }
}
