// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$lucky-warn: (
  50: var(--w-50),
  100: var(--w-100),
  200: var(--w-200),
  300: var(--w-300),
  400: var(--w-400),
  500: var(--w-500),
  600: var(--w-600),
  700: var(--w-700),
  800: var(--w-800),
  900: var(--w-900),
  A100: var(--w-A100),
  A200: var(--w-A200),
  A400: var(--w-A400),
  A700: var(--w-A700),
  contrast: (
    50: var(--wc-50),
    100: var(--wc-100),
    200: var(--wc-200),
    300: var(--wc-300),
    400: var(--wc-400),
    500: var(--wc-500),
    600: var(--wc-600),
    700: var(--wc-700),
    800: var(--wc-800),
    900: var(--wc-900),
    A100: var(--wc-A100),
    A200: var(--wc-A200),
    A400: var(--wc-A400),
    A700: var(--wc-A700),
  ),
);

$lucky-accent: (
  50: var(--a-50),
  100: var(--a-100),
  200: var(--a-200),
  300: var(--a-300),
  400: var(--a-400),
  500: var(--a-500),
  600: var(--a-600),
  700: var(--a-700),
  800: var(--a-800),
  900: var(--a-900),
  A100: var(--a-A100),
  A200: var(--a-A200),
  A400: var(--a-A400),
  A700: var(--a-A700),
  contrast: (
    50: var(--ac-50),
    100: var(--ac-100),
    200: var(--ac-200),
    300: var(--ac-300),
    400: var(--ac-400),
    500: var(--ac-500),
    600: var(--ac-600),
    700: var(--ac-700),
    800: var(--ac-800),
    900: var(--ac-900),
    A100: var(--ac-A100),
    A200: var(--ac-A200),
    A400: var(--ac-A400),
    A700: var(--ac-A700),
  ),
);

$lucky-primary: (
  50: var(--p-50),
  100: var(--p-100),
  200: var(--p-200),
  300: var(--p-300),
  400: var(--p-400),
  500: var(--p-500),
  600: var(--p-600),
  700: var(--p-700),
  800: var(--p-800),
  900: var(--p-900),
  A100: var(--p-A100),
  A200: var(--p-A200),
  A400: var(--p-A400),
  A700: var(--p-A700),
  contrast: (
    50: var(--pc-50),
    100: var(--pc-100),
    200: var(--pc-200),
    300: var(--pc-300),
    400: var(--pc-400),
    500: var(--pc-500),
    600: var(--pc-600),
    700: var(--pc-700),
    800: var(--pc-800),
    900: var(--pc-900),
    A100: var(--pc-A100),
    A200: var(--pc-A200),
    A400: var(--pc-A400),
    A700: var(--pc-A700),
  ),
);

$my-primary: mat.define-palette($lucky-primary);
$my-accent: mat.define-palette($lucky-accent);
$my-warn: mat.define-palette($lucky-warn);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($my-theme);

/* You can add global styles to this file, and also import other style files */
@import './assets/styles/common';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
