<h2 mat-dialog-title>Detail Hero</h2>
<mat-dialog-content>
  <form [formGroup]="formHero">
    <div>
      <app-base-input label="Name" [fieldControl]="fieldName"></app-base-input>
    </div>
    <div>
      <app-base-input label="Alter Ego" [fieldControl]="fieldAlterEgo"></app-base-input>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hero Power</mat-label>
        <mat-select formControlName="power">
          <mat-option *ngFor="let pow of powers" [value]="pow.id">{{ pow.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{}">Cancel</button>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
