<div class="filter-group">
  <app-locations [(selected)]="dataSearch.location"></app-locations>
  <mat-form-field appearance="fill">
    <mat-label translate="className"></mat-label>
    <select matNativeControl [(ngModel)]="dataSearch.className">
      <option value="" translate="all"></option>
      <option *ngFor="let name of classNames$ | async" [value]="name">{{ name }}</option>
    </select>
  </mat-form-field>
  <app-class-statuses [(selected)]="dataSearch.status"></app-class-statuses>
  <mat-form-field appearance="fill">
    <mat-label translate="fromDate"></mat-label>
    <input matInput [matDatepicker]="fromDate" />
    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
    <mat-datepicker #fromDate>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label translate="toDate"></mat-label>
    <input matInput [matDatepicker]="toDate" />
    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
    <mat-datepicker #toDate>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
  <div class="mat-form-field"></div>
</div>
<div>
  <button mat-stroked-button color="primary" (click)="onSearch()">
    <mat-icon>search</mat-icon>
    {{ 'search' | translate }}
  </button>
</div>
