@import 'variable';
@import 'mixins';

:host {
  display: flex;
  @include margin('top');
  @include gap();
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  @include gap();
}

.app-class-statuses,
.app-locations,
.mat-form-field {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  @media #{$md} {
    width: max((100% - 2 * var(--spacing)) / 3, 200px);
    // .mat-form-field {
    // }
  }
}
