@import 'variable';
@import 'mixins';

:host{
  ::ng-deep{
    .mat-form-field{
      .mat-form-field-underline{
        display: none;
      }
      .mat-form-field-wrapper{
        padding-bottom: 0px;
      }
      .mat-form-field-infix{
        border-top: none;
      }
    }
    .control-edit .mat-form-field-flex{
      background-color: #ffffff;
    }

    .mat-form-field-invalid{
      .mat-form-field-underline{
        display: block;
        position: absolute;
        bottom: 0;
      }
    }

    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
      width: unset;
      height: unset;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 12px 10px;
    }

  }
  .actions {
    margin: 20px 0;
    display: flex;
    @include gap();
  }
  .radio-edit-common {
    display: flex;
    padding: 0 15px;

    mat-radio-button {
      width: 48%
    }
  }

  .special-row{
    display: flex;
  }

  .form-control{
    min-width: 150px;
    min-height:40px;
  }

  .control-label{
    background-color: rgba(0, 0, 0, 0.04);
  }

  table {
    border-collapse: collapse;
  }

  th, td{
    min-height: 40px;
  }

  .label-title{
    margin: 15px 0;
    padding-left: 15px;
  }

}

span.span-custom {
  display: inline-block;
  width: 100% !important;
}

input.orther-option-input {
  width: 92%;
  height: 40px;
  border: none;
  background: #d9d9d9;
  padding: 0 20px 0 17px;
  outline: none;
  font-size: 16px;
}