@import 'variable';
@import 'mixins';

:host{
  ::ng-deep{
    .mat-form-field{
      .mat-form-field-underline{
        display:none
      }
      .mat-form-field-wrapper{
        padding-bottom: 0px;
      }
      .mat-form-field-infix{
        border-top: none;
      }
    }
    .control-edit .mat-form-field-flex{
      background-color: #ffffff;
    }

    .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
      width: unset;
      height: unset
    }
    
    .orther-option-input{
      border: 1px solid !important;
      width: 100%;
      height: 30px;
      background: blue;
    }

    .span-custom{
      display: block;
    }
  }
  .actions {
    margin-top: 20px;
    display: flex;
    @include gap();
  }
  .radio-edit-common {
    display: flex;
    padding: 0 15px;

    mat-radio-button {
      width: 48%
    }
  }

  .special-row{
    display: flex;
  }

  .form-control{
    min-width: 150px;
    min-height:40px;
  }

  .control-label{
    background-color: rgba(0, 0, 0, 0.04);
  }

  th, td{
    min-height: 40px;
  }

}