<mat-expansion-panel [expanded]="!expanded" [hideToggle]="true">
  <mat-expansion-panel-header (click)="$event.stopPropagation()">
    <mat-panel-title (click)="$event.stopPropagation()" class="title" translate="traineeResult.allowance">
    </mat-panel-title>
    <mat-icon (click)="$event.preventDefault()" (click)="expandForExpansion()" class="icon-expand">
      {{toggleIcon ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
    </mat-icon>
  </mat-expansion-panel-header>
  <div class="gpa-body">
    <div class="body-header">
      <div class="common-column column-empty"><span class="pl-5"></span></div>
      <div class="common-column column-gpa"><span class="pl-5">GPA</span></div>
      <div class="common-column column-level"><span class="pl-5">Level</span></div>
      <div class="common-column column-salary"><span class="pl-5">Salary Paid</span></div>
      <div class="common-column column-standard"><span class="pl-5">Standard Allowance</span></div>
      <div class="common-column column-remarks"><span class="pl-5">Remarks</span></div>
    </div>
    <div class="body-content">
      <div class="row-item" *ngFor="let item of data">
        <div class="common-column column-empty"><span class="pl-5">{{item.milestone}}</span></div>
        <div class="common-column column-gpa"><span class="pl-5">{{item.gpa}}%</span></div>
        <div class="common-column column-level"><span class="pl-5">{{item.level}}</span></div>
        <div class="common-column column-salary"><span class="pl-5">{{item.salaryPaid}}</span></div>
        <div class="common-column column-standard"><span class="pl-5">{{item.standardAllowance}}</span></div>
        <div class="common-column column-remarks column-remarks-control">
          <mat-form-field class="control-{{mode}}" appearance="fill" color="primary">
            <input matInput/>
          </mat-form-field>
        </div>
      </div>
      <div class="row-final">
        <div class="common-column column-total"><span class="pl-5">Total</span></div>
        <div class="common-column column-value"><span class="pl-5">8</span></div>
      </div>
    </div>
  </div>
</mat-expansion-panel>
