<h2 mat-dialog-title class="text--capitalize">
  {{ (isLoginForm ? 'login' : 'signUp') | translate }}
  <button mat-icon-button mat-dialog-close="{}">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="formLogin" (submit)="doLogin()">
    <ng-container *ngIf="!isLoginForm">
      <div class="form__name">
        <app-base-input
          color="primary"
          label="firstName"
          [errorList]="errorList.firstName"
          [fieldControl]="firstNameControl"></app-base-input>
        <app-base-input
          color="primary"
          label="lastname"
          [errorList]="errorList.lastName"
          [fieldControl]="lastNameControl"></app-base-input>
      </div>
    </ng-container>
    <app-base-input
      color="primary"
      label="email"
      [errorList]="errorList.email"
      [fieldControl]="emailControl"></app-base-input>
    <mat-form-field appearance="fill" color="primary">
      <mat-label>{{ 'password' | translate }}</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.invalid">
        <app-base-error [fieldControl]="passwordControl" [errorList]="errorList.password"></app-base-error>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="action">
  <ng-container *ngIf="isLoginForm; else signUp">
    <button mat-button class="action__forgot" color="primary">
      {{ 'forgotPassword' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      class="action__login text--capitalize"
      (click)="doLogin()"
      [disabled]="isLoading"
      [appLoading]="isLoading">
      {{ 'login' | translate }}
    </button>
  </ng-container>
  <p class="action__registry">
    {{ (isLoginForm ? 'signUpDescription' : 'loginDescription') | translate }}
    <button mat-flat-button (click)="onSwitchMode()" class="text--lowercase">
      {{ (isLoginForm ? 'signUp' : 'login') | translate }}
    </button>
  </p>
</mat-dialog-actions>
<ng-template #signUp>
  <button
    mat-raised-button
    color="primary"
    class="action__login text--capitalize"
    (click)="doSignUp()"
    [disabled]="isLoading"
    [appLoading]="isLoading">
    {{ 'signUp' | translate }}
  </button>
</ng-template>
